<!-- dashboard.component.html -->

<div class="dashboard">

    <div class="card">
      <h2>Balance</h2>
      <p></p>
    </div>
  
    <div class="card">
      <h2>Income</h2>
      <p></p>
    </div>
  
    <div class="card">
      <h2>Expenses</h2>
      <p></p>
    </div>
  
    <div class="card">
      <h2>Savings</h2>
      <p></p>
    </div>
  
    <div class="card">
      <h2>Transactions</h2>
      <p></p>
      <p></p>
    </div>
  
    <div class="card">
      <h2>Account Information</h2>
      <p></p>
      <p></p>
    </div>
  
    <div class="card">
      <h2>Budgeting</h2>
      <p></p>
      <p></p>
      <p></p>
    </div>
  
    <div class="card">
      <h2>Investments</h2>
      <p></p>
      <p></p>
    </div>
  
    <div class="card">
      <h2>Taxes</h2>
      <p></p>
      <p></p>
    </div>
  </div>